Source: openldap-ltb
Section: net
Priority: optional
Maintainer: dcoutadeur <david.coutadeur@gmail.com>
Build-Depends: debhelper (>= 7.0.15), autotools-dev, libltdl7, libltdl-dev, libsasl2-2, libsasl2-dev, zlib1g, zlib1g-dev, openssl, libssl-dev, mime-support, mawk, libcrack2-dev, libsodium23, libsodium-dev, libevent-dev, pandoc
Standards-Version: 3.8.4
Homepage: http://ltb-project.org

Package: openldap-ltb
Architecture: any
Depends: libc6 (>= 2.4), libltdl7, libsasl2-2, libwrap0 (>= 7.6-4~), coreutils (>= 4.5.1-1), perl (>> 5.8.0) | libmime-base64-perl, adduser, lsb-base (>= 3.2-13), openssl
Suggests: openldap-ltb-check-password, openldap-ltb-contrib-overlays
Description: OpenLDAP server with addons from the LDAP Tool Box project
 OpenLDAP is an open source suite of LDAP (Lightweight Directory Access
 Protocol) applications and development tools. LDAP is a set of
 protocols for accessing directory services (usually phone book style
 information, but other information is possible) over the Internet,
 similar to the way DNS (Domain Name System) information is propagated
 over the Internet.
 .
 This package contains all: server, clients, libraries and docs. It
 can be installed with openldap and openldap-devel. It provides tools
 from the LDAP Tool Box project:
 o Start/stop script
 o Logrotate script

Package: openldap-ltb-dbg
Architecture: any
Section: debug
Priority: extra
Depends: openldap-ltb (= ${binary:Version})
Description: Debugging symbols for openldap-ltb
 OpenLDAP is an open source suite of LDAP (Lightweight Directory Access
 Protocol) applications and development tools. LDAP is a set of
 protocols for accessing directory services (usually phone book style
 information, but other information is possible) over the Internet,
 similar to the way DNS (Domain Name System) information is propagated
 over the Internet.
 .
 This package contains the debugging symbols for openldap-ltb

Package: openldap-ltb-explockout
Architecture: any
Depends: openldap-ltb, libc6 (>= 2.4)
Description: OpenLDAP exponential time password lockout overlay
 explockout.c is an OpenLDAP module for disabling user to bind to an LDAP
 directory for an exponential time based on the delay after which he has
 made a bind failure
 This module must be used in conjunction with the OpenLDAP password policy
 overlay, see slapo-ppolicy(5)
 This is provided by LDAP Tool Box project: http://www.ltb-project.org

Package: openldap-ltb-contrib-overlays
Architecture: any
Depends: openldap-ltb, libc6 (>= 2.4), libsodium23
Description: Overlays contributed to OpenLDAP
 Some overlays are not included in the OpenLDAP main package but provided
 as contributions. This package provide these ones:
 autogroup lastbind noopsrch nssov pw-pbkdf2 pw-sha2 smbk5pwd ppm variant vc
 This is provided by LDAP Tool Box project: http://www.ltb-project.org

Package: openldap-ltb-mdb-utils
Architecture: any
Depends: openldap-ltb, libc6 (>= 2.4)
Description: utilities for mdb
 mdb utilities contain both mdb_stat and mdb_copy, and the associated
 documentation.
 This is provided by LDAP Tool Box project: http://www.ltb-project.org

