Source: berkeleydb-ltb
Section: database
Priority: optional
Maintainer: David Coutadeur <dcoutadeur@linagora.com>
Build-Depends: debhelper (>= 7.0.50~), gcc, make
Standards-Version: 3.8.4
Homepage: http://www.oracle.com/technology/products/berkeley-db/db/index.html

Package: berkeleydb-ltb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, coreutils
Description: Sleepycat Database Software - Berkeley Database
 Berkeley DB, the most widely-used developer database in the world, is open
 source and runs on all major operating systems, including embedded Linux,
 Linux, MacOS X, QNX, UNIX, VxWorks and Windows.
 .
 Berkeley DB delivers the core data management functionality, power, scalability
 and flexibility of enterprise relational databases but without the overhead
 of a query processing layer.
